vosk==0.3.45
pyaudio==0.2.14
openwakeword==0.6.0
pywin32==312
psutil==7.2.2
pygetwindow==0.0.9
pyautogui==0.9.54
gitpython==3.1.53
google-api-python-client==2.198.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
python-dotenv==1.2.2
PyQt6==6.11.0
pystray==0.19.5
Pillow==12.3.0
noisereduce==3.0.3
numpy==2.5.1
pyperclip==1.11.0
requests==2.34.2
